body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(158, 192, 151);
}


#calcBody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px 5px;
    padding: 10px;
    margin: 30px auto 0 auto;
    border: 2px solid black;
    background-color: grey;
    border-radius: 10px;
}

#calcDisplay{
    height: 50px;
    width: 250px;
    border: 1px solid black;
    margin-bottom: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    grid-area: 1/1/2/5;
    background-color: rgb(255, 241, 212);
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Aldrich', sans-serif;
    max-width: 11ch;
}

#numbersDisplayed{
    display: inline;
    width: auto;
    height: auto;
    color: black;
    font-size: 2rem;
    font-family: 'Aldrich', sans-serif;
    align-self:center;
}

button{
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: whitesmoke;
    border: 1px solid darkslategrey;
    border-radius: 5px;
    font-family: 'Quantico', sans-serif;
    font-size: 24px;
    padding: 0;
}

button:hover{
    background-color:black;
    color: whitesmoke;
}

button:active{
    transform: translateY(2px);
}

.functionButtons{
    background-color:  rgb(173, 223, 255);
}

.functionButtons:hover{
    color: rgb(173, 223, 255);
    background-color: black;
}

.mathButtons{
    background-color: rgb(255, 206, 100);
}

.mathButtons:hover{
    color: rgb(255, 174, 0);
    background-color: black;
}

#allClear{
    background-color: rgb(255, 148, 140);
}

#allClear:hover{
    color: red;
    background-color: black;
}

#backspace{
    background-color:  rgb(173, 223, 255);
    color: red;
}

#backspace:hover{
    background-color: black;
}

#decimalPoint{
    font-size: 36px;
}

#footnote{
    margin: 0;
    font-size: 11px;
    color: rgb(94, 94, 94);
    font-family: 'Quantico', sans-serif;
}