body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(180, 189, 201);
}

p{
    margin: 0;
    font-size: 12px;
}

#calcBody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px 5px;
    padding: 10px;
    margin: 30px auto 0 auto;
    border: 2px solid black;
    background-color: grey;
}

#calcDisplay{
    height: 50px;
    width: 250px;
    border: 1px solid black;
    grid-area: 1/1/2/5;
    background-color: rgb(255, 241, 212);
}

button{
    width: 50px;
    height: 50px;
    margin: auto;
    border: 1px solid darkslategrey;
    border-radius: 5px;
}